<%- include('partials/header') -%>
<div id="capture-form-container" class="text-[#ebebeb] md:flex md:flex-col md:items-center">
    <div id="capture-form-div" class="inter-300 md:w-[600px]">
        <%# console.log(reel) %> 
        <section id="entry-choices-container" class="px-3 my-2 mb-4">
            <div>
                <h1 class="font-semibold text-xl mb-2">Choose type of capture:</h1>
            </div>
            <div id="entry-choices" class="flex flex-wrap">
                <span id="image-entry-1" class="entry-choice mx-2 px-4 py-1 border-2 rounded-lg hover:bg-[#ebebeb] hover:text-[#4c4c4c] transition md:cursor-pointer enabled" onclick="showCaptureForm(this.id)">image</span>
                <span id="text-entry-2" class="entry-choice mx-2 px-4 py-1 border-2 rounded-lg hover:bg-[#ebebeb] hover:text-[#4c4c4c] transition md:cursor-pointer" onclick="showCaptureForm(this.id)">text</span>
                <span id="link-entry-3" class="entry-choice mx-2 px-4 py-1 border-2 rounded-lg hover:bg-[#ebebeb] hover:text-[#4c4c4c] transition md:cursor-pointer" onclick="showCaptureForm(this.id)">link</span>
                <!-- <span id="audio-entry-4" class="entry-choice mx-2 px-4 py-1 border-2 rounded-lg hover:bg-[#ebebeb] hover:text-[#4c4c4c] transition md:cursor-pointer" onclick="showCaptureForm(this.id)">audio</span> -->
            </div>
        </section>

        <section id="add-capture-1" class="capture-form-container bg-[#ebebeb] text-black py-4 px-3 md:rounded-lg md:px-4">
            <h2 class="text-lg font-bold">Add an image for point in progress</h2>
            <form class="capture-form" action="/post/<%= reel.title %>/addcaptureimage/<%= reel.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
                <div class="flex flex-col my-2">
                    <label for="title" class="font-semibold">Name your point in progress</label>
                    <input type="text" class="px-3 py-1 rounded-lg bg-transparent border-2 border-[#4c4c4c]" name="title" placeholder="Enter a title" required>
                </div>
                <div class="flex flex-col my-2">
                    <label for="caption" class="font-semibold">Write a caption</label>
                    <textarea class="px-3 py-1 rounded-lg bg-transparent border-2 border-[#4c4c4c]" id="caption" name="caption" placeholder="Caption (optional)"></textarea>
                </div>
                <div class="flex w-full items-center justify-center mb-2">
                    <label id="imageUploadContainer" class="flex flex-col items-center px-4 py-2 mt-4 border-2 border-dashed border-[#4c4c4c] rounded-lg tracking-wide cursor-pointer lg:hover:bg-[#b5b5b52b]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-upload" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                            <polyline points="7 9 12 4 17 9" />
                            <line x1="12" y1="4" x2="12" y2="16" />
                          </svg>
                        <span class="mt-2 text-base font-semibold">Upload an Image</span>
                        <input type='file' class="hidden" id="imageUpload" name="file" required/>
                    </label>
                </div>
                <div id="imagePreviewContainer" class="hidden w-full">
                    <img id="imagePreview" src="#" alt="file-upload-preview" class="">
                    <span class="w-full block text-center font-semibold text-[#d55151] rounded-lg border-2 border-[#d55151] my-2 py-2 cursor-pointer hover:bg-[#b5b5b52b]" onclick="clearFile()">Clear Selection</span>
                </div>
                <button type="submit" class="w-full py-2 border-2 border-[#4c4c4c] rounded-lg my-2 font-semibold lg:hover:bg-[#b5b5b52b]" value="Upload">Add to <%= reel.title %></button>
            </form>
        </section>

        <section id="add-capture-2" class="capture-form-container hidden bg-[#ebebeb] text-black py-4 px-3 md:rounded-lg md:px-4">
            <h2 class="text-lg font-bold">Describe point in progress</h2>
            <form class="capture-form" action="/post/<%= reel.title %>/addcapturetext/<%= reel.id %>?_method=PUT" method="POST">
                <div class="flex flex-col my-2">
                    <label for="titleText" class="font-semibold">Name your point in progress</label>
                    <input type="text" class="px-3 py-1 rounded-lg bg-transparent border-2 border-[#4c4c4c]" id="titleText" name="titleText" placeholder="Enter a title" required>
                </div>
                <div class="flex flex-col my-2">
                    <label for="description" class="font-semibold">Describe your point in progress</label>
                    <textarea class="px-3 py-1 rounded-lg bg-transparent border-2 border-[#4c4c4c]" id="description" name="description" placeholder="Enter a description" required></textarea>
                </div>
                <button type="submit" class="w-full py-2 border-2 border-[#4c4c4c] rounded-lg my-2 font-semibold lg:hover:bg-[#b5b5b52b]">Add to <%= reel.title %></button>
            </form>
        </section>

        <section id="add-capture-3" class="capture-form-container hidden bg-[#ebebeb] text-black py-4 px-3 md:rounded-lg md:px-4">
            <h2 class="text-lg font-bold">Add a link for point in progress</h2>
            <form class="capture-form" action="/post/<%= reel.title %>/addcapturelink/<%= reel.id %>?_method=PUT" method="POST">
                <div class="flex flex-col my-2">
                    <label for="titleLink" class="font-semibold">Name your point in progress</label>
                    <input type="text" class="px-3 py-1 rounded-lg bg-transparent border-2 border-[#4c4c4c]" id="titleLink" name="titleLink" placeholder="Enter a title" required>
                </div>
                <div class="flex flex-col my-2">
                    <label for="caption" class="font-semibold">Write a Caption</label>
                    <textarea class="px-3 py-1 rounded-lg bg-transparent border-2 border-[#4c4c4c]" id="caption" name="caption" placeholder="Enter a caption" required></textarea>
                </div>
                <div class="flex flex-col my-2">
                    <label for="caption" class="font-semibold">External Link<span class="fa fa-link ml-1"></span></label>
                    <input type="text" class="px-3 py-1 rounded-lg bg-transparent border-2 border-[#4c4c4c]" id="link" name="link" placeholder="Paste a link" required>
                </div>
                <button type="submit" class="w-full py-2 border-2 border-[#4c4c4c] rounded-lg my-2 font-semibold lg:hover:bg-[#b5b5b52b]">Add to <%= reel.title %></button>
            </form>
        </section>

        <!-- <section id="add-capture-4" class="capture-form-container hidden">
            <h2>Add point in progress audio</h2>
            <form class="capture-form" action="/post//addcaptureaudio/?_method=PUT" method="POST">
                <div class="">
                    <label for="titleLink" class="capform-label">Name your point in progress</label>
                    <input type="text" class="form-control" id="titleLink" name="titleLink" placeholder="Enter a title" required>
                </div>
                <div class="">
                    <label for="caption" class="capform-label">Write a Caption</label>
                    <textarea class="form-control" id="caption" name="caption" placeholder="Enter a caption" required></textarea>
                </div>
                <div class="">
                    <label for="caption" class="capform-label">External Link<span class="fa fa-link"></span></label>
                    <input type="text" class="form-control" id="link" name="link" placeholder="Paste a link" required>
                </div>
                <button type="submit" class="capture-submit">Add to Reel</button>
            </form>
        </section> -->

    </div>
    <div class="w-full text-center mt-6">
        <a href="/u/<%= requser.userName %>" id="return-to-prof" class="py-2 px-4 font-semibold border-2 rounded-lg lg:hover:bg-[#b5b5b52b]">Return to profile</a>
    </div>
</div>
<%- include('partials/footer') -%>
<script>
    let container = document.getElementById('imageUploadContainer')
    let imageInput = document.getElementById('imageUpload')
    let imageSrc = document.getElementById('imagePreview')
    let imageSrcContainer = document.getElementById('imagePreviewContainer')
    imageInput.addEventListener('change', _ => {
        const [file] = imageInput.files
        if(file){
            imageSrc.src = URL.createObjectURL(file)
            imageSrcContainer.classList.remove('hidden')
            container.classList.add('hidden')
        }else{
            imageSrc.src = '#'
            imageSrcContainer.classList.add('hidden')
            container.classList.remove('hidden')
        }
    })

    function clearFile(){
        imageInput.value = '';
        imageSrcContainer.classList.add('hidden')
        container.classList.remove('hidden')
    }

</script>
