<%- include('partials/profileheader') -%>
<%- include('partials/profilesettings') -%>

<div id="capture-form-div" class="inter-300">
    <%# console.log(reel) %> 
    <section id="entry-choices-container">
        <div>
            <h1>Choose type of capture...</h1>
        </div>
        <div id="entry-choices">
            <span id="image-entry-1" class="entry-choice enabled" onclick="showCaptureForm(this.id)">image</span>
            <span id="text-entry-2" class="entry-choice" onclick="showCaptureForm(this.id)">text</span>
            <span id="link-entry-3" class="entry-choice" onclick="showCaptureForm(this.id)">link</span>
            <span id="audio-entry-4" class="entry-choice" onclick="showCaptureForm(this.id)">audio</span>
        </div>
    </section>

    <section id="add-capture-1" class="capture-form-container">
        <h2>Add an image for point in progress</h2>
        <form class="capture-form" action="/post/addcaptureimage/<%= reel %>?_method=PUT" enctype="multipart/form-data" method="POST">
            <div class="">
                <label for="title" class="capform-label">Give your capture a name</label>
                <input type="text" class="form-control title" name="title" placeholder="Enter a title" required>
            </div>
            <div class="">
                <label for="caption" class="capform-label">Write a caption</label>
                <textarea class="form-control" id="caption" name="caption" placeholder="caption" required></textarea>
            </div>
            <div class="">
                <label for="imgUpload" class="capform-label">Choose an Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file" required>
            </div>
            <button type="submit" class="capture-submit" value="Upload">Add to Reel</button>
        </form>
    </section>

    <section id="add-capture-2" class="capture-form-container hidden">
        <h2>Describe point in progress</h2>
        <form class="capture-form" action="/post/addcapturetext/<%= reel %>?_method=PUT" method="POST">
            <div class="">
                <label for="titleText" class="capform-label">Give your capture a name</label>
                <input type="text" class="form-control" id="titleText" name="titleText" placeholder="Enter a title" required>
            </div>
            <div class="">
                <label for="description" class="capform-label">Describe your point in progress</label>
                <textarea class="form-control" id="description" name="description" placeholder="Enter a description" required></textarea>
            </div>
            <button type="submit" class="capture-submit">Add to Reel</button>
        </form>
    </section>

    <section id="add-capture-3" class="capture-form-container hidden">
        <h2>Add point in progress link</h2>
        <form class="capture-form" action="/post/addcapturelink/<%= reel %>?_method=PUT" method="POST">
            <div class="">
                <label for="titleLink" class="capform-label">Give your capture a name</label>
                <input type="text" class="form-control" id="titleLink" name="titleLink" placeholder="Enter a title" required>
            </div>
            <div class="">
                <label for="caption" class="capform-label">Write a Caption</label>
                <textarea class="form-control" id="caption" name="caption" placeholder="Enter a caption" required></textarea>
            </div>
            <div class="">
                <label for="caption" class="capform-label">External Link<span class="fa fa-link"></span></label>
                <input type="text" class="form-control" id="link" name="link" placeholder="Paste a link" required>
            </div>
            <button type="submit" class="capture-submit">Add to Reel</button>
        </form>
    </section>

    <section id="add-capture-4" class="capture-form-container hidden">
        <h2>Add point in progress audio</h2>
        <form class="capture-form" action="/post/addcapturelink/<%= reel %>?_method=PUT" method="POST">
            <div class="">
                <label for="titleLink" class="capform-label">Give your capture a name</label>
                <input type="text" class="form-control" id="titleLink" name="titleLink" placeholder="Enter a title" required>
            </div>
            <div class="">
                <label for="caption" class="capform-label">Write a Caption</label>
                <textarea class="form-control" id="caption" name="caption" placeholder="Enter a caption" required></textarea>
            </div>
            <div class="">
                <label for="caption" class="capform-label">External Link<span class="fa fa-link"></span></label>
                <input type="text" class="form-control" id="link" name="link" placeholder="Paste a link" required>
            </div>
            <button type="submit" class="capture-submit">Add to Reel</button>
        </form>
    </section>

</div>
<a href="/u/<%= user.userName %>" id="return-to-prof" class="inter-300">Return to profile</a>

<%- include('partials/footer') -%>
