<%- include('partials/header') -%>
<%- include('partials/profilesettings') -%>

<div id="capture-form-div">
    <%# console.log(reel) %> 
    <section>
        <div>
            <h1>Choose type of entry...</h1>
        </div>
        <div id="entry-choices">
            <span id="image-entry-1" class="entry-choice enabled" onclick="showCaptureForm(this.id)">image or gif</span>
            <span id="text-entry-2" class="entry-choice" onclick="showCaptureForm(this.id)">text capture</span>
            <span id="link-entry-3" class="entry-choice" onclick="showCaptureForm(this.id)">link capture</span>
        </div>
    </section>

    <section id="add-capture-1" class="capture-form-container">
        <h2>Add an image for point in progress</h2>
        <form class="capture-form" action="/post/addcaptureimage/<%= reel %>?_method=PUT" enctype="multipart/form-data" method="POST">
            <div class="">
                <label for="title" class="capform-label">Title</label>
                <input type="text" class="form-control title" name="title" required>
            </div>
            <div class="">
                <label for="caption" class="capform-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption" required></textarea>
            </div>
            <div class="">
                <label for="imgUpload" class="capform-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file" required>
            </div>
            <button type="submit" class="capture-submit" value="Upload">Submit</button>
        </form>
    </section>

    <section id="add-capture-2" class="capture-form-container hidden">
        <h2>Describe point in progress</h2>
        <form class="capture-form" action="/post/addcapturetext/<%= reel %>?_method=PUT" method="POST">
            <div class="">
                <label for="titleText" class="capform-label">Title</label>
                <input type="text" class="form-control" id="titleText" name="titleText" required>
            </div>
            <div class="">
                <label for="description" class="capform-label">Description</label>
                <textarea class="form-control" id="description" name="description" required></textarea>
            </div>
            <button type="submit" class="capture-submit">Submit</button>
        </form>
    </section>

    <section id="add-capture-3" class="capture-form-container hidden">
        <h2>Add point in progress link</h2>
        <form class="capture-form" action="/post/addcapturelink/<%= reel %>?_method=PUT" method="POST">
            <div class="">
                <label for="titleLink" class="capform-label">Title</label>
                <input type="text" class="form-control" id="titleLink" name="titleLink" required>
            </div>
            <div class="">
                <label for="caption" class="capform-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption" required></textarea>
            </div>
            <div class="">
                <label for="caption" class="capform-label">External Link</label>
                <input type="text" class="form-control" id="link" name="link" required>
            </div>
            <button type="submit" class="capture-submit">Submit</button>
        </form>
    </section>

    <a href="/profile">Return to profile</a>
</div>

<%- include('partials/footer') -%>
