<%- include('partials/postheader') -%> 
<div class="single-cap-container">
    <div class="post-container">
        <form id="cap-edit" class="cap-text single-cap form-post-edit" action="<%= cap.id %>/editpost/<%= cap.type %>/<%= cap.reel %>?_method=PUT" method="POST">
            <div class="feed-cap-info">
                <input value="<%= cap.title %>" class="post-title-edit" name="title">
                <a href="/post/<%= cap._id %>" class="cancel-edit inter-400">Cancel</a>
            </div>
            
            <div class="ep-caption-container">
                <input name="caption" value="<%= cap.caption === "NA" ? "Write a caption" : cap.caption %>" placeholder="<%= cap.caption === "NA" ? "Write a caption!" : cap.caption %>" class="post-caption-edit">
            </div>
            <div>
                <button type="submit" class="submit-post-edit inter-400">Submit edits</button>
                <form action="/post/deletePost/<%= cap.reel %>/<%= cap._id %>/<%= cap.type %>" method="POST">
                    <button class="submit-post-edit inter-400 red-delete" type="submit">Delete Post</button>
                </form>
            </div>
        </form>
    </div>
</div>