<!DOCTYPE html>
<html lang="en" class="">
     <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Progressio</title>
        <link
          rel="icon"
          type="image/png"
          sizes="32x32"
          href="../../imgs/favicon-32x32.png"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/dist/output.css" />
        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
        <script type="text/javascript" src="/js/main.js" defer></script>
    </head>
    <body id="ep-body" class="bg-[#1c1e22] md:flex md:justify-center">
        <div class="inter-400 md:w-[600px]">
            <div id="top-div" class="flex justify-evenly items-center py-4">
                <a href="/u/<%= user.userName %>" id="cancel-edits" class="bg-[#ebebeb] py-2 px-3 rounded-lg font-semibold">Cancel</a>
                <h1 class="inter-300 font-semibold text-lg text-[#ebebeb]">Edit Profile</h1>
                <button form="edit-profile-form" type="submit" id="submit-edits" value="Upload" class="bg-[#ebebeb] py-2 px-3 rounded-lg font-semibold">Update</button>
            </div>
            <form id="edit-profile-form" class="edit-profile-form" action="/u/<%= user.userName %>/editprofile/submit?_method=PUT" enctype="multipart/form-data" method="POST">
                <div class="flex flex-col items-center w-full">
                    <img src="<%= user.profilePic %>" id="profile-pic" class="w-[125px] h-[125px] border-2 border-[#ebebeb] rounded-full">
                    <label id="pp-upload-label" class="text-[#ebebeb] my-4 py-1 px-4 border-2 rounded-lg active:bg-[#ebebeb] active:text-[#1c1e22] md:hover:text-[#1c1e22] md:hover:bg-[#ebebeb] cursor-pointer transition" for="ep-input-image">
                        Change profile picture
                    </label>
                    <input type="file" id="ep-input-image" name="file">
                </div>
                <div id="ep-info-container" class="px-6">
                    <div class="flex flex-col mb-4">
                        <label for="name" class="text-white text-lg mb-1 font-semibold tracking-wider">Name</label>
                        <input type="text" class="text-[#ebebeb] placeholder-[#878787] rounded-lg bg-[#4242427d] py-3 px-3 text-lg lg:py-3" name="name" value="<%= user.name %>" id="ep-name">
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="bio" class="text-white text-lg mb-1 font-semibold tracking-wider">Bio</label>
                        <input type="text" class="text-[#ebebeb] placeholder-[#878787] rounded-lg bg-[#4242427d] py-3 px-3 text-lg lg:py-3" name="bio" value="<%= user.bio %>">
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="link" class="text-white text-lg mb-1 font-semibold tracking-wider">Link</label>
                        <input type="text" class="text-[#ebebeb] placeholder-[#878787] rounded-lg bg-[#4242427d] py-3 px-3 text-lg lg:py-3" name="link" value="<%= user.link %>" placeholder="<%= user.link ? "" : "Enter a link" %>">
                    </div>
                    <div class="flex items-center w-full mb-12">
  
                        <label for="toggleA" class="flex items-center cursor-pointer">
                            <!-- label -->
                            <span class="mr-3 text-white font-semibold text-lg tracking-wider">
                                Private
                            </span>
                            <!-- toggle -->
                            <div class="relative">
                                <!-- input -->
                                <% if( user.isPublic ) { %>
                                    <input id="toggleA" name="private" type="checkbox" class="sr-only" value="true" />
                                <% }else { %>
                                    <input id="toggleA" name="private" type="checkbox" class="sr-only" value="true" checked/>
                                <% } %> 
                                <!-- line -->
                                <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                                <!-- dot -->
                                <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                            </div>
                        </label>
                        
                    </div>
                    <button type="submit" class="text-[#ebebeb] mt-3 py-2 w-full text-center rounded-lg border-2 active:bg-[#ebebeb] active:text-[#1c1e22] md:hover:text-[#1c1e22] md:hover:bg-[#ebebeb] cursor-pointer transition">Update</button>
                </div>
            </form>
        </div>
    </body>
</html>