<%- include('partials/header') -%> 
<div class="single-cap-container">
    <div class="post-container">
        <% if(cap.type === "image") { %>
            <section id="post-edit" class="cap-text single-cap form-post-edit hidden bg-[#30323a] pb-3 my-3 h-fit flex flex-col md:rounded-lg md:shadow">
                <form id="cap-edit" action="<%= cap.id %>/editpost/<%= cap.type %>/<%= cap.reel %>?_method=PUT" method="POST">
                    <div class="flex items-center justify-between px-3 py-3">
                        <input value="<%= cap.title %>" class="bg-transparent w-fit font-bold text-2xl" name="title" autofocus autocomplete="off">
                        <span class="px-2 py-2 border-2 rounded-lg text-sm md:cursor-pointer" onclick="editCaptureMenu()">Cancel Edit</span>
                    </div>
                    <div class="w-full pr-4">
                        <textarea rows='3' data-min-rows='3' id="cap-text-area" name="description" placeholder="<%= cap.caption || "Enter a caption" %>" class="mx-3 w-full bg-transparent overflow-hidden autoExpand px-3 lg:text-lg" ref={ref} autocomplete="off"><%= cap.caption %></textarea>
                    </div>
                    <div class="w-full pr-4">
                        <textarea rows='3' data-min-rows='3' id="cap-text-area" name="description" placeholder="<%= cap.description || "Enter a description (optional)" %>" class="mx-3 w-full bg-transparent overflow-hidden autoExpand px-3 lg:text-lg" ref={ref} autocomplete="off"><%= cap.description %></textarea>
                    </div>
                </form>
                <div class="post-edit-buttons flex justify-between mt-4 px-3 text-sm">
                    <button type="submit" class="inter-400 rounded-lg py-2 px-3 border-2 text-[#e3dd9b] border-[#e3dd9b]" form="cap-edit">Submit changes</button>
                    <form action="/post/deletePost/<%= cap.reel %>/<%= cap._id %>/<%= cap.type %>?_method=PUT" method="POST">
                            <button class="inter-400 border-red-600 text-red-600 rounded-lg py-2 px-3 border-2" type="submit">Delete Post</button>
                    </form>
                </div>
            </section>
        <% }else if(cap.type === 'text') { %>
            <section id="post-edit" class="cap-text single-cap form-post-edit hidden bg-[#30323a] pb-3 my-3 h-fit flex flex-col md:rounded-lg md:shadow">
                <form id="cap-edit" action="<%= cap.id %>/editpost/<%= cap.type %>/<%= cap.reel %>?_method=PUT" method="POST">
                    <div class="flex items-center justify-between px-3 py-3">
                        <input value="<%= cap.title %>" class="bg-transparent w-fit font-bold text-2xl" name="title" autofocus autocomplete="off">
                        <span class="px-2 py-2 border-2 rounded-lg text-sm md:cursor-pointer" onclick="editCaptureMenu()">Cancel Edit</span>
                    </div>
                    <div class="w-full pr-4">
                        <textarea rows='3' data-min-rows='3' id="cap-text-area" name="description" placeholder="<%= cap.description %>" class="mx-3 w-full bg-transparent overflow-hidden autoExpand px-3 lg:text-lg" ref={ref} autocomplete="off"><%= cap.description %></textarea>
                    </div>
                </form>
                <div class="post-edit-buttons flex justify-between mt-4 px-3 text-sm">
                    <button type="submit" class="inter-400 rounded-lg py-2 px-3 border-2 text-[#e3dd9b] border-[#e3dd9b]" form="cap-edit">Submit changes</button>
                    <form action="/post/deletePost/<%= cap.reel %>/<%= cap._id %>/<%= cap.type %>?_method=PUT" method="POST">
                            <button class="inter-400 border-red-600 text-red-600 rounded-lg py-2 px-3 border-2" type="submit">Delete Post</button>
                    </form>
                </div>
            </section>
        <% }else { %>
            <section id="post-edit" class="cap-text single-cap form-post-edit hidden bg-[#30323a] pb-3 my-3 h-fit flex flex-col md:rounded-lg md:shadow">
                <form id="cap-edit" action="<%= cap.id %>/editpost/<%= cap.type %>/<%= cap.reel %>?_method=PUT" method="POST">
                    <div class="flex items-center justify-between px-3 py-3">
                        <input value="<%= cap.title %>" class="bg-transparent w-fit font-bold text-2xl" name="title" autofocus autocomplete="off">
                        <span class="px-2 py-2 border-2 rounded-lg text-sm md:cursor-pointer" onclick="editCaptureMenu()">Cancel Edit</span>
                    </div>
                    <div class="w-full pr-4">
                        <textarea rows='3' data-min-rows='3' id="cap-text-area" name="description" placeholder="<%= cap.caption || "Enter a caption" %>" class="mx-3 w-full bg-transparent overflow-hidden autoExpand px-3 lg:text-lg" ref={ref} autocomplete="off"><%= cap.caption %></textarea>
                    </div>

                    <div class="w-full pr-4">
                        <textarea rows='3' data-min-rows='3' id="cap-text-area" name="description" placeholder="Enter a description (optional)" class="mx-3 w-full bg-transparent overflow-hidden autoExpand px-3 lg:text-lg" ref={ref} autocomplete="off"><%= cap.description %></textarea>
                    </div>
                    
                </form>
                <div class="post-edit-buttons flex justify-between mt-4 px-3 text-sm">
                    <button type="submit" class="inter-400 rounded-lg py-2 px-3 border-2 text-[#e3dd9b] border-[#e3dd9b]" form="cap-edit">Submit changes</button>
                    <form action="/post/deletePost/<%= cap.reel %>/<%= cap._id %>/<%= cap.type %>?_method=PUT" method="POST">
                            <button class="inter-400 border-red-600 text-red-600 rounded-lg py-2 px-3 border-2" type="submit">Delete Post</button>
                    </form>
                </div>
            </section>
        <% } %> 
    </div>
</div>