<%- include('partials/header') -%>
<main class="feed-container">

    <div class="feed inter-400">
        <div class="flex items-center text-[#ebebeb] bg-[#171a1e]">
            <span id="followers-select" class="py-4 w-1/2 text-center text-xl font-semibold" onclick="showFollowers()">Home</span>
            <span id="following-select" class="py-4 w-1/2 text-center text-xl font-semibold" onclick="showFollowers()">Latest</span>
            <div id="slider" class="w-1/2 h-[2px] bg-[#ebebeb] absolute transition top-[128px]"></div>
        </div>
        <section id="box-1" class="feed-inner feed-select">
            <% if(posts.length < 1) {%>
                <div class="no-caps-alert">
                    <p>No captures here...</p>
                </div>
            <% } %> 
            <% posts.forEach((cap, idx)=> { %>
                <% let likesCount = Object.keys(cap.likes).length %> 
                <% if(requser.following.includes(cap.userId)) {%>
                    <% if(cap.type==='image' ) {%>
                        <div class="cap-image cap bg-[#22242c] text-[#ebebeb] my-3 h-fit flex md:rounded-lg md:shadow">
                            <section class="w-full">
                                <div class="cap-info flex justify-between px-3 py-3">
                                    <a href="/post/<%= cap._id %>"><h2 class="cap-title font-semibold text-xl"><%= cap.title %></h2></a>
                                    <span class="date"><%= cap.date  %> </span>
                                </div>
                                <a href="/post/<%= cap._id %>"><img src="<%= cap.imageLink %>" class="cap-image-tag max-h-[500px] object-cover w-full"></a>
                                <div class="px-3 py-3">
                                    <p class="cap-caption"><%= cap.caption %></p>
                                </div>
                                <div class="feed-cap-btns flex items-center justify-center py-2">
                                    <% if (cap.likes[requser.id]) {%>
                                        <div class="flex items-center mx-5">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart stroke-[#ff3030] fill-[#ff3030]" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.0" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                            </svg>
                                            <span class="ml-1"><%= likesCount %></span>
                                        </div>
                                    <% }else{ %>
                                        <form action="/post/likePost/<%= cap.reel %>/<%= cap._id %>?_method=PUT" method="POST" class="mx-5">
                                            <button type="submit" class="setPosition flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart stroke-[#ebebeb] transition md:hover:stroke-[#ff3030] md:hover:fill-[#ff3030]" width="22" height="22" viewBox="0 0 24 24" stroke-width="3.0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                                </svg>
                                                <span class="ml-1"><%= likesCount %></span>
                                            </button>
                                        </form>
                                    <% } %> 
                                    <span class="w-[5px] h-[5px] bg-[#646464] rounded-full mx-1"></span>
                                    <a href="/post/<%= cap._id %>"><span class="mx-5 md:hover:underline">view comments</span></a>
                                    <span class="w-[5px] h-[5px] bg-[#646464] rounded-full mx-1"></span>
                                    <span id="postsettingsview-<%= idx %>" class="mx-5" onclick="viewSettings(this.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots md:cursor-pointer" width="26" height="26" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <circle cx="5" cy="12" r="1" />
                                            <circle cx="12" cy="12" r="1" />
                                            <circle cx="19" cy="12" r="1" />
                                        </svg>
                                    </span>
                                </div>
                            </section>
                            <section id="postsettingsbox-<%= idx %>" class="relative max-h-full hidden block">
                                <div class="bg-[#343c4e] text-[#ebebeb] right-0 shadow-lg absolute rounded-l-lg h-full transition w-[170px] flex flex-col justify-end px-2">
                                    <div>
                                        <% if(requser.userName == cap.userName) {%> 
                                            <a class="flex items-center justify-between transition border-b-2 border-[#ebebeb] py-2" href="/post/<%= cap._id %>/<%= requser._id %>/editpost">
                                                <span>Edit Capture</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                </svg>
                                            </a>
                                        <% } %> 
                                        <a class="flex items-center justify-between transition md:cursor-pointer border-b-2 border-[#ebebeb] py-2">
                                            <span>Share</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                                <line x1="10" y1="14" x2="20" y2="4" />
                                                <polyline points="15 4 20 4 20 9" />
                                            </svg>
                                        </a>
                                    </div>
                                    
                                    <span id="closebtn-<%= idx %>" class="my-4 py-1 border-2 border-[#9f9f9f] text-[#9f9f9f] font-bold text-center md:cursor-pointer rounded-lg w-content" onclick="viewSettings(this.id)">close</span>
                                    <!-- <a class="postsetting">
                                        <span>Report</span>
                                    </a> -->
                                </div>
                            </section>
                        </div>
                    <% }else if(cap.type==='text' ) {%>
                        <div class="cap-text cap bg-[#22242c] text-[#ebebeb] my-3 h-fit flex md:rounded-lg md:shadow">
                            <section class="w-full">
                                <div class="cap-info flex justify-between px-3 py-3">
                                    <a href="/post/<%= cap._id %>"><h2 class="cap-title font-semibold text-xl"><%= cap.title %></h2></a>
                                    <span class="date"><%= cap.date  %> </span>
                                </div>
                                <div class="px-3">
                                    <a href="/post/<%= cap._id %>"><p class="cap-text-description"><%= cap.description %> </p></a>
                                </div>
                                <div class="feed-cap-btns flex items-center justify-center py-2">
                                    <% if (cap.likes[requser.id]) {%>
                                        <div class="flex items-center mx-5">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart stroke-[#ff3030] fill-[#ff3030]" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.0" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                            </svg>
                                            <span class="ml-1"><%= likesCount %></span>
                                        </div>
                                    <% }else{ %>
                                        <form action="/post/likePost/<%= cap.reel %>/<%= cap._id %>?_method=PUT" method="POST" class="mx-5">
                                            <button type="submit" class="setPosition flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart stroke-[#ebebeb] transition md:hover:stroke-[#ff3030] md:hover:fill-[#ff3030]" width="22" height="22" viewBox="0 0 24 24" stroke-width="3.0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                                </svg>
                                                <span class="ml-1"><%= likesCount %></span>
                                            </button>
                                        </form>
                                    <% } %> 
                                    <span class="w-[5px] h-[5px] bg-[#646464] rounded-full mx-1"></span>
                                    <a href="/post/<%= cap._id %>"><span class="mx-5 md:hover:underline">view comments</span></a>
                                    <span class="w-[5px] h-[5px] bg-[#646464] rounded-full mx-1"></span>
                                    <span id="postsettingsview-<%= idx %>" class="mx-5" onclick="viewSettings(this.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots md:cursor-pointer" width="26" height="26" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <circle cx="5" cy="12" r="1" />
                                            <circle cx="12" cy="12" r="1" />
                                            <circle cx="19" cy="12" r="1" />
                                        </svg>
                                    </span>
                                </div>
                            </section>
    
                            <section id="postsettingsbox-<%= idx %>" class="relative max-h-full hidden block">
                                <div class="bg-[#343c4e] text-[#ebebeb] right-0 shadow-lg absolute rounded-l-lg h-full transition w-[170px] flex flex-col justify-evenly px-2">
                                    <div>
                                        <% if(requser.userName == cap.userName) {%> 
                                            <a class="flex items-center justify-between transition border-b-2 border-[#ebebeb] py-2" href="/post/<%= cap._id %>/<%= requser._id %>/editpost">
                                                <span>Edit Capture</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                </svg>
                                            </a>
                                        <% } %> 
                                        <a class="flex items-center justify-between transition md:cursor-pointer border-b-2 border-[#ebebeb] py-2">
                                            <span>Share</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                                <line x1="10" y1="14" x2="20" y2="4" />
                                                <polyline points="15 4 20 4 20 9" />
                                            </svg>
                                        </a>
                                    </div>
                                    
                                    <span id="closebtn-<%= idx %>" class="py-1 border-2 border-[#9f9f9f] text-[#9f9f9f] font-bold text-center md:cursor-pointer rounded-lg w-content" onclick="viewSettings(this.id)">close</span>
                                    <!-- <a class="postsetting">
                                        <span>Report</span>
                                    </a> -->
                                </div>
                            </section>
                        </div>
                    <% }else if(cap.type==='link' ) {%>
                        <div class="cap-link cap bg-[#22242c] text-[#ebebeb] my-3 h-fit flex md:rounded-lg md:shadow">
                            <section class="w-full">
                                <a href="<%= cap.extLink %>" class="cap-extLink-a"><div class="cap-extlink-container">
                                    <div class="link-image-container h-[155px] relative">
                                        <img src="<%= cap.extLinkInfo.img || cap.extLinkInfo.favicon %>" class="link-image object-center absolute z-0 h-full w-full object-cover md:rounded-t-lg">
                                        <div class="linkshadow"></div>
                                    </div>
                                    <div class="linkinfo-container bg-[#3c4456] text-[#ebebeb] px-3 py-2">
                                        <span class="link-domain font-semibold text-[#9f9f9f]"><%= cap.extLinkInfo.domain %></span>
                                        <h3 class="link-title text-xl font-bold"><%= cap.extLinkInfo.title %></h3>
                                    </div>
                                </div></a>
                                <div class="cap-info flex justify-between px-3 py-3">
                                    <a href="/post/<%= cap._id %>"><h2 class="cap-title font-semibold text-xl"><%= cap.title %></h2></a>
                                    <span class="date"><%= cap.date %></span>
                                </div>
                                <div class="cap-caption-container px-3">
                                    <p class="cap-caption"><%= cap.caption %></p>
                                </div>
                                <div class="feed-cap-btns flex items-center justify-center py-2">
                                    <% if (cap.likes[requser.id]) {%>
                                        <div class="flex items-center mx-5">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart stroke-[#ff3030] fill-[#ff3030]" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.0" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                            </svg>
                                            <span class="ml-1"><%= likesCount %></span>
                                        </div>
                                    <% }else{ %>
                                        <form action="/post/likePost/<%= cap.reel %>/<%= cap._id %>?_method=PUT" method="POST" class="mx-5">
                                            <button type="submit" class="setPosition flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart stroke-[#ebebeb] transition md:hover:stroke-[#ff3030] md:hover:fill-[#ff3030]" width="22" height="22" viewBox="0 0 24 24" stroke-width="3.0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                                </svg>
                                                <span class="ml-1"><%= likesCount %></span>
                                            </button>
                                        </form>
                                    <% } %> 
                                    <span class="w-[5px] h-[5px] bg-[#646464] rounded-full mx-1"></span>
                                    <a href="/post/<%= cap._id %>"><span class="mx-5 md:hover:underline">view comments</span></a>
                                    <span class="w-[5px] h-[5px] bg-[#646464] rounded-full mx-1"></span>
                                    <span id="postsettingsview-<%= idx %>" class="mx-5" onclick="viewSettings(this.id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots md:cursor-pointer" width="26" height="26" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <circle cx="5" cy="12" r="1" />
                                            <circle cx="12" cy="12" r="1" />
                                            <circle cx="19" cy="12" r="1" />
                                        </svg>
                                    </span>
                                </div>
                            </section>
                            <section id="postsettingsbox-<%= idx %>" class="relative max-h-full hidden block">
                                <div class="bg-[#343c4e] text-[#ebebeb] right-0 shadow-lg absolute rounded-l-lg h-full transition w-[170px] flex flex-col justify-evenly px-2">
                                    <div>
                                        <% if(requser.userName == cap.userName) {%> 
                                            <a class="flex items-center justify-between transition border-b-2 border-[#ebebeb] py-2" href="/post/<%= cap._id %>/<%= requser._id %>/editpost">
                                                <span>Edit Capture</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                </svg>
                                            </a>
                                        <% } %> 
                                        <a class="flex items-center justify-between transition md:cursor-pointer border-b-2 border-[#ebebeb] py-2">
                                            <span>Share</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                                <line x1="10" y1="14" x2="20" y2="4" />
                                                <polyline points="15 4 20 4 20 9" />
                                            </svg>
                                        </a>
                                    </div>
                                    
                                    <span id="closebtn-<%= idx %>" class="py-1 border-2 border-[#9f9f9f] text-[#9f9f9f] font-bold text-center md:cursor-pointer rounded-lg w-content" onclick="viewSettings(this.id)">close</span>
                                    <!-- <a class="postsetting">
                                        <span>Report</span>
                                    </a> -->
                                </div>
                            </section>
                        </div>
                    <% } %>
                <% }%> 
            <% }) %>
            <% if(requser.following.length < 1) {%>
                <div class="np-container">
                    <p class="no-posts-alert-p">Not following anybody!</p>
                    <p class="no-posts-alert-p">Get started by <span class="no-posts-alert np-alert">searching for users</span></br> or by searching for your </br><span class="no-posts-alert np-alert">interests/hobbies</span></p>
                </div>
            <% }else{ %>
                <div class="np-container text-[#ebebeb] w-full text-center">
                    <p class="no-posts-alert font-semibold text-lg pb-6 pt-2">No More Captures!</p>
                </div>
            <% } %> 
        </section>
        <section id="box-2" class="feed-all hidden">
            <div class="all-container">
                <input onchange="changeSearch()" type="search" name="search" placeholder="search users" id="all-search">
            </div>
            <div class="pop-com-outer-container">
                <h2 class="all-pop-communities-title">Recent Posts</h2>
                <ul id="all-pop-comm">
                    <% for(let i = 0; i < 3; i++) {%> 
                        <li class="pop-community-container">
                            <a href="/reel/viewreel/<%= posts[i].reel %>"><div class="pop-comm-title">
                                <h3>Recent Capture</h3>
                                <h2><%= posts[i].reelName %></h2>
                            </div></a>
                            <a href="/post/<%= posts[i]._id %>"><div class="recent-post">
                                <% if(posts[i].imageLink) {%>
                                    <img class="recent-post-image" src="<%= posts[i].imageLink %>">
                                <% } %> 
                                <div class="rec-post-text">
                                    <h2 class="rec-post-title"><%= posts[i].title %></h2>
                                    <p class="rec-post-description"><%= posts[i].description ? posts[i].description : posts[i].caption %></p>
                                    <span class="posted-time">posted moments ago</span>
                                </div>
                            </div></a>
                        </li>
                    <% } %> 
                </ul>
            </div>
        </section>
    </div>
    <div class="feed-userinfo inter-300 hidden md:block">
        <section id="userinfo-container">
            <div class="uinfo-container">
                <h2 class="feed-u-name"><%= requser.name %></h2>
                <a href="/u/<%= requser.userName %>" class="uprofile-link">profile</a>
            </div>
            <div class="ru-reel-container">
                <% ruReels.forEach((r) => { %>
                    <a class="ru-reel" href="/reel/viewreel/<%= r._id %>"><%= r.title %></a>
                <% }) %> 
            </div>
            <h3 id="feed-u-following">Following</h3>
            <div class="following-container hidden:">
                <% if(requser.following.length < 1) {%>
                    <p class="not-following-alert">Not following anybody</p>
                <% }else{ %> 
                    <% users.forEach((u) => { %>
                        <% if(requser.following.includes(u._id)){ %>
                            <a href="/u/<%= u.userName %>"><div class="following-users-container">
                                <img class="feed-u-pp" src="<%= u.profilePic %>">
                                <span class="feed-username"><%= u.userName %></span>
                            </div>
                        <% } %> 
                    <% }) %> 
                <% } %> 
            </div>
        </section>
    </div>
</main>

<script>
    window.onbeforeunload = function(e) {
        localStorage.setItem('topper', window.scrollY)
    }
    
    if(localStorage.topper > 0) {
        let position = localStorage.getItem('topper');
        if (position) window.scrollTo(0, position);
    }

</script>
<%- include('partials/footer') -%>
