<%- include('partials/postheader') -%>
<div class="single-cap-container">
    <section class="post-reel-info-container inter-400">
        <a href="/reel/viewreel/<%= cap.reel %>"><h2 class="pri-title"><%= cap.reelName %></h2></a>
        <p class="pri-caption"><%= reelcaption %></p>
    </section>
    <div class="post-container inter-400">
        <% if(cap.type==='image' ) {%>
            <form id="cap-edit" class="cap-text single-cap form-post-edit hidden" action="<%= cap.id %>/editpost/<%= cap.type %>/<%= cap.reel %>?_method=PUT" method="POST">
                <div class="feed-cap-info">
                    <input value="<%= cap.title %>" class="post-title-edit" name="title">
                    <a href="/post/<%= cap._id %>" class="cancel-edit">Cancel Edit</a>
                </div>
                
                <div>
                    <input name="caption" value="<%= cap.caption === "NA" ? "Write a caption" : cap.caption %>" placeholder="<%= cap.caption === "NA" ? "Write a caption!" : cap.caption %>" class="post-caption-edit">
                </div>
                <div>
                    <button type="submit" class="submit-post-edit inter-400">Submit edits</button>
                    <form action="/post/deletePost/<%= cap.reel %>/<%= cap._id %>/<%= cap.type %>" method="POST">
                        <button class="submit-post-edit inter-400 red-delete" type="submit">Delete Post</button>
                    </form>
                </div>
            </form>
            <div id="single-cap" class="cap-image single-cap">    
                <div class="feed-cap-info">
                    <h3 class="feed-cap-title">
                        <%= cap.title %>
                    </h3>
                    <span class="feed-date">
                        <%= cap.date %>
                    </span>
                </div>
                <img src="<%= cap.imageLink %>" class="cap-image-tag">
                <% if(cap.caption !== "NA") {%>
                    <p class="pcap-caption"><%= cap.caption %></p>
                <% } %> 
                <section class="post-settings-container">
                    <div id="postsettingsbox-0" class="post-settings-box hidden <%= requser.userName === cap.userName ? "" : "postsetting-small" %>">
                        <% if(requser.userName == cap.userName) {%> 
                            <span class="postsetting" onclick="editCapture()">
                                <span>Edit Capture</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                </svg>
                            </span>            
                        <% } %> 
                        
                        <a class="postsetting">
                            <span>Share Capture</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                <line x1="10" y1="14" x2="20" y2="4" />
                                <polyline points="15 4 20 4 20 9" />
                            </svg>
                        </a>

                        <a class="postsetting">
                            <span>Report</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flag" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#af323a" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="5" y1="5" x2="5" y2="21" />
                                <line x1="19" y1="5" x2="19" y2="14" />
                                <path d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0" />
                                <path d="M5 14a5 5 0 0 1 7 0a5 5 0 0 0 7 0" />
                            </svg>
                        </a>
                        
                    </div>
                </section>
                <div class="feed-cap-btns">
                    <form action="/post/likePost/<%= cap.reel %>/<%= cap._id %>?_method=PUT" method="POST"
                        class="cap-like-form">
                        <button type="submit" class="cap-like-btn">
                            <span class="likes-count">
                                <%= cap.likes.length %>
                            </span>
                            <span class="fa fa-heart cap-like-svg"></span>
                        </button>
                    </form>
                    <span class="post-comment-btn" onclick="commentForm()">add comment</span>
                    <span id="postsettingsview-0" class="post-settings" onclick="viewSettings(this.id)"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="48" height="48" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="5" cy="12" r="1" />
                            <circle cx="12" cy="12" r="1" />
                            <circle cx="19" cy="12" r="1" />
                        </svg>
                    </span>
                </div>
            </div>
        <% }else if(cap.type==='text' ) {%>
            <form id="cap-edit" class="cap-text single-cap form-post-edit hidden" action="<%= cap.id %>/editpost/<%= cap.type %>/<%= cap.reel %>?_method=PUT" method="POST">
                <div class="feed-cap-info">
                    <input value="<%= cap.title %>" class="post-title-edit" name="title">
                    <a href="/post/<%= cap._id %>" class="cancel-edit">Cancel Edit</a>
                </div>
                <textarea name="description" placeholder="<%= cap.description %>" class="post-description-edit inter-400"><%= cap.description %></textarea>
                
                <div>
                    <input name="caption" placeholder="<%= cap.caption === "NA" ? "Write a caption!" : cap.caption %>" class="post-caption-edit">
                </div>
                <div>
                    <button type="submit" class="submit-post-edit inter-400" form="cap-edit">Submit edits</button>
                    <form action="deletePost/<%= cap.reel %>/<%= cap._id %>/<%= cap.type %>" method="POST">
                        <button class="submit-post-edit inter-400 red-delete" type="submit">Delete Post</button>
                    </form>
                </div>
            </form>
            <div id="single-cap" class="cap-text single-cap">
                <div class="feed-cap-info">
                    <h3 class="feed-cap-title">
                        <%= cap.title %>
                    </h3>
                    <span class="feed-date">
                        <%= cap.date %>
                    </span>
                </div>
                <div>
                    <p class="feed-text-description">
                        <%= cap.description %>
                    </p>
                </div>
                <% if(cap.caption !== "NA") {%>
                    <p class="pcap-caption"><%= cap.caption %></p>
                <% } %> 
                <section class="post-settings-container">
                    <div id="postsettingsbox-0" class="post-settings-box hidden <%= requser.userName === cap.userName ? "" : "postsetting-small" %>">
                        <% if(requser.userName == cap.userName) {%> 
                            <span class="postsetting" onclick="editCapture()">
                                <span>Edit Capture</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                </svg>
                            </span>             
                        <% } %> 
                        
                        <a class="postsetting">
                            <span>Share Capture</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                <line x1="10" y1="14" x2="20" y2="4" />
                                <polyline points="15 4 20 4 20 9" />
                            </svg>
                        </a>

                        <a class="postsetting">
                            <span>Report</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flag" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#af323a" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="5" y1="5" x2="5" y2="21" />
                                <line x1="19" y1="5" x2="19" y2="14" />
                                <path d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0" />
                                <path d="M5 14a5 5 0 0 1 7 0a5 5 0 0 0 7 0" />
                            </svg>
                        </a>
                        
                    </div>
                </section>
                <div class="feed-cap-btns">
                    <form action="/post/likePost/<%= cap.reel %>/<%= cap._id %>?_method=PUT" method="POST"
                        class="cap-like-form">
                        <button type="submit" class="cap-like-btn">
                            <span class="likes-count">
                                <%= cap.likes.length %>
                            </span>
                            <span class="fa fa-heart cap-like-svg"></span>
                        </button>
                    </form>
                    <span class="post-comment-btn" onclick="commentForm()">add comment</span>
                    <span id="postsettingsview-0" class="post-settings" onclick="viewSettings(this.id)"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="48" height="48" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="5" cy="12" r="1" />
                            <circle cx="12" cy="12" r="1" />
                            <circle cx="19" cy="12" r="1" />
                        </svg>
                    </span>
                </div>
            </div>
        <% }else if(cap.type==='link' ) {%>
            <form id="cap-edit" class="cap-text single-cap form-post-edit hidden" action="<%= cap.id %>/editpost/<%= cap.type %>/<%= cap.reel %>?_method=PUT" method="POST">
                <div class="feed-cap-info">
                    <input value="<%= cap.extLink %>" class="hidden" name="caplink">
                    <input value="<%= cap.title %>" name="title" class="post-title-edit">
                    <a href="/post/<%= cap._id %>" class="cancel-edit">Cancel Edit</a>
                </div>
                <div>
                    <input value="<%= cap.extLink %>" name="link" placeholder="Enter a link!" class="post-caption-edit" required>
                </div>
                <textarea class="post-description-edit inter-400" name="caption"><%= cap.caption === "NA" ? "" : cap.caption %></textarea>
                <div>
                    <button type="submit" class="submit-post-edit inter-400" form="cap-edit">Submit edits</button>
                    <form action="deletePost/<%= cap.reel %>/<%= cap._id %>/<%= cap.type %>" method="POST">
                        <button class="submit-post-edit inter-400 red-delete" type="submit">Delete Post</button>
                    </form>
                </div>
            </form>
            <div id="single-cap" class="cap-link single-cap">
                <a href="https://<%= cap.extLinkInfo.domain %>" class="cap-extLink-a">
                    <div class="cap-extlink-container">
                        <div class="link-image-container">
                            <img src="<%= cap.extLinkInfo.img || cap.extLinkInfo.favicon %>" class="link-image">
                            <div class="shadow"></div>
                        </div>
                        <div class="linkinfo-container">
                            <span class="link-domain">
                                <%= cap.extLinkInfo.domain %>
                            </span>
                            <h3 class="link-title">
                                <%= cap.extLinkInfo.title %>
                            </h3>
                            <p class="link-description">
                                <%= cap.extLinkInfo.description%>
                            </p>
                        </div>
                    </div>
                </a>
                <div class="feed-cap-info">
                    <h3 class="feed-cap-title">
                         <%= cap.title %>
                    </h3>
                    <span class="feed-date"><%= cap.date %></span>
                </div>
                <% if(cap.caption !== "NA") {%>
                    <p class="pcap-caption"><%= cap.caption %></p>
                <% } %> 
                <section class="post-settings-container">
                    <div id="postsettingsbox-0" class="post-settings-box hidden <%= requser.userName === cap.userName ? "" : "postsetting-small" %>">
                        <% if(requser.userName == cap.userName) {%> 
                            <span class="postsetting" onclick="editCapture()">
                                <span>Edit Capture</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                </svg>
                            </span>              
                        <% } %> 
                        
                        <a class="postsetting">
                            <span>Share Capture</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                <line x1="10" y1="14" x2="20" y2="4" />
                                <polyline points="15 4 20 4 20 9" />
                            </svg>
                        </a>

                        <a class="postsetting">
                            <span>Report</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flag" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#af323a" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="5" y1="5" x2="5" y2="21" />
                                <line x1="19" y1="5" x2="19" y2="14" />
                                <path d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0" />
                                <path d="M5 14a5 5 0 0 1 7 0a5 5 0 0 0 7 0" />
                            </svg>
                        </a>
                        
                    </div>
                </section>
                <div class="feed-cap-btns">
                    <form action="/post/likePost/<%= cap.reel %>/<%= cap._id %>?_method=PUT" method="POST"
                        class="cap-like-form">
                        <button type="submit" class="cap-like-btn">
                            <span class="likes-count">
                                <%= cap.likes.length %>
                            </span>
                            <span class="fa fa-heart cap-like-svg"></span>
                        </button>
                    </form>
                    <span class="post-comment-btn" onclick="commentForm()">add comment</span>
                    <span id="postsettingsview-0" class="post-settings" onclick="viewSettings(this.id)"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="48" height="48" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="5" cy="12" r="1" />
                            <circle cx="12" cy="12" r="1" />
                            <circle cx="19" cy="12" r="1" />
                        </svg>
                    </span>
                </div>
        <% } %>
    </div>
    <div id="create-comment" class="inter-300 hidden">
        <form class="comment-form" action="/c/createComment/<%= cap.id %>" method="POST">
            <label class="comment-name-label"><%= user.userName %>:</label>
            <input type="text" class="comment-input" name="comment" placeholder="Type a comment...">
            <button type="submit" class="comment-submit">Send</button>
        </form>
    </div>
    <ul class="post-comments-container inter-400">
        <!-- for each comment -->
        <% comments.forEach((c) => { %>
            <li class="user-caption">
                <a href="/u/<%= c.commenterName %>"><span class="comment-username"><%= c.commenterName %>:</span></a>
                <p><%= c.text %></p>
            </li>
        <% }) %> 
    </ul>
</div>
<%- include('partials/footer') -%>