<%- include('partials/header') -%>
<%- include('partials/profilesettings') -%>
<div id="profile">
    <div id="user-bio">
        <h1><%= user.userName %></h1> 
        <section>
            <img src="imgs/favicon-32x32.png" id="profile-pic">
            <div id="friend-count-container">
                <section id="friend-count">
                    <div>
                        <span id="following-count" class="count"><%= user.following.length %> </span>
                        <span>Following</span>
                    </div>
                    <div>
                        <span id="follower-count" class="count"><%= user.followers.length %></span>
                        <span>Followers</span>
                    </div>
                    <div>
                        <span id="reel-count" class="count">12</span>
                        <span>Reels</span>
                    </div>
                </section>
                <a id="external-links" href="#">boonaki.me<span id="link-icon" class="fa fa-link"></span></a>
            </div>
        </section>
        <p id="bio-desc">biobiobiobiobiobiobio</p>
        <div id="activ">
            <!-- <h2>Activities</h2> -->
            <!-- for each reel name, link to reel view -->
            <ul id="activ-list">
                <li><a href="#">Biking</a></li>
                <li><a href="#">Baking</a></li>
                <li><a href="#">Embroidery</a></li>
                <li><a href="#">Biking</a></li>
            </ul>
        </div>
        <span id="new-reel-btn" onclick="showCreator()">create new reel</a>
    </div>
    <div id="reel-form-container">
        <span onclick="hideCreator()">close</span>
        <form id="reel-create-form" action="/reel/createreel" method="POST">
            <div class="reel-title">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="enter a title">
            </div>
            <div class="reel-caption">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption" placeholder="enter description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" value="submit">Submit</button>
        </form>
    </div>

    <div id="reels">
        <!-- for each reel -->
        <% reels.forEach((reel) => { %> 
            <div class="reel">
                <div class="reel-info">
                    <a href="/reel/getreel"><h2 class="reel-name"><%= reel.title %></h1></a>
                    <div class="reel-count-info">
                        <div class="post-count">
                            <span class="count"><%= reel.captures.length %>  </span>
                            <span>Posts</span>
                        </div>
                        <div class="like-count">
                            <span class="count"><%= reel.likes %> </span>
                            <span>Likes</span>
                        </div>
                    </div>
                    <!-- check if person is owner -->
                    <% if(reel.creator == user.id) {%> 
                        <a href="/createcapture/<%= reel._id %>" class="add-capture">add capture</a>
                    <% }else { %>
                        <a href="#" class="add-capture">view reel</a>
                    <% } %> 
                    <!-- if not then dont render add capture button -->
                </div>
                <% if(reel.captures.length < 1) {%>
                    <div class="new-capture-alert">
                        <h3>Create a new capture for this reel</h3>
                    </div>
                <% }else { %>
                    <div class="captures">
                        <!-- for each capture -->
                        <% reel.captures.forEach((cap) => { %> 
                            <!-- check whether capture is image, video or plain-text -->
                            <span></span>
                        <% }) %> 
                    </div>                 
                <% } %> 
            </div>
        <% }) %> 
        <!---->
    </div>
</div>
<!-- <div id="profile">
  <div class="">
      <div class="">
          <div>
              <p><strong>User Name</strong>: <%# user.userName %></p>
              <p><strong>Email</strong>: <%# user.email %></p>
              <a href="/logout" class="">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form id="profile-form" action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <%# for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%# posts[i]._id%>">
              <img class="img-fluid" src="<%# posts[i].image%>">
            </a>
          </li>
        <%# } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div> -->
<%- include('partials/footer') -%>