<%- include('partials/header') -%>
<%- include('partials/profilesettings') -%>
<div id="profile" class="inter-300">
    <div id="user-bio">
        <h1><%= user.userName %></h1> 
        <section>
            <img src="<%= user.profilePic %> " id="profile-pic">
            <div id="friend-count-container">
                <section id="friend-count">
                    <div>
                        <span id="following-count" class="count"><%= user.following.length %> </span>
                        <span>Following</span>
                    </div>
                    <div>
                        <span id="follower-count" class="count"><%= user.followers.length %></span>
                        <span>Followers</span>
                    </div>
                    <div>
                        <span id="reel-count" class="count">12</span>
                        <span>Reels</span>
                    </div>
                </section>
                <% if(reels.length > 0 && user.id == reels[0].creator) {%>
                    <a href="/u/editprofile" id="customize-profile" class="edit-profile">edit profile</a>
                <% } %> 
                <a id="external-links" href="<%= user.link %> "><%= user.link %> <span id="link-icon" class="fa fa-link"></span></a>
            </div>
        </section>
        <p id="bio-desc"><%= user.bio %></p>
        <div id="activ">
            <!-- <h2>Activities</h2> -->
            <!-- for each reel name, link to reel view -->
            <ul id="activ-list">
                <% reels.forEach((r) => { %>
                    <li><a href="/reel/viewreel/<%= r._id %>"><%= r.title %> </a></li> 
                <% }) %> 
            </ul>
        </div>
        <% if(user.id === requestingUser.id) {%>
            <span id="new-reel-btn" class="reel-edit-btn" onclick="showCreator()">create new reel</span>
            <span id="edit-reel-btn" class="reel-edit-btn" onclick="showDelete()">edit reels</span>
        <% }else { %>
            <a href="#" class="reel-edit-btn">back to feed</a>
        <% } %> 
    </div>
    <div id="reel-form-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="close-creation" onclick="hideCreator()"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
        <!-- <span onclick="hideCreator()" class="fa fa-minimize close-creation"></span> -->
        <form id="reel-create-form" action="/reel/createreel" method="POST">
            <div class="reel-title">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="enter a reel title">
            </div>
            <div class="reel-caption">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption" placeholder="enter a reel description"></textarea>
            </div>
            <button type="submit" class="reelcreate-submit" value="submit">create</button>
        </form>
    </div>

    <div id="reels">
        <!-- for each reel -->
        <% reels.forEach((reel) => { %> 
            <div class="reel">
                <div class="reel-info">
                    <div class="reel-name-container">
                        <a href="/reel/viewreel/<%= reel._id %>"><h2 class="reel-name"><%= reel.title %></h1></a>
                        <% if(reel.creator == user.id) {%>
                            <form action="/reel/deleteReel/<%= reel.id %>?_method=DELETE" method="POST" class="delete-reel hidden">
                                <button class="fa fa-trash reel-delete" type="submit"></button>
                            </form>
                        <% } %> 
                    </div>
                    <div class="reel-count-info">
                        <div class="post-count">
                            <span class="count"><%= reel.captures.length %>  </span>
                            <span>Posts</span>
                        </div>
                        <div class="like-count">
                            <span class="count"><%= reel.likes %> </span>
                            <span>Likes</span>
                        </div>
                    </div>
                    <!-- if not then dont render add capture button -->
                </div>
                <div class="cap-and-buttons">
                    <% if(reel.captures.length < 1) {%>
                        <div class="new-capture-alert">
                            <h3>Create a new capture for this reel</h3>
                        </div>
                    <% }else { %>
                        <div class="captures">
                            <!-- for each capture -->
                            <% reel.captures = reel.captures.reverse() %> 
                            <% reel.captures.forEach((cap) => { %> 
                                <!-- check whether capture is image, video or plain-text -->
                                <% if(cap.type === 'image') {%> 
                                    <div class="capture-container">
                                        <div class="the-capture">                                           
                                            <!-- <img src="<%# cap.imageLink %>" class="prof-cap-img"> -->
                                            <div class="prof-cap-overlay">
                                                <span class="fa fa-image"></span>
                                            </div>                                           
                                        </div>
                                        <a href=""class="capture-date"><%= cap.date.slice(5, cap.date.length) %> </a>
                                    </div>
                                <% }else if(cap.type === 'text') {%>
                                    <div class="capture-container">
                                        <div class="the-capture">
                                            <div class="prof-cap-overlay">
                                                <span class="fa fa-align-left"></span>
                                            </div>    
                                        </div>
                                        <a href=""class="capture-date"><%= cap.date.slice(5, cap.date.length) %> </a>
                                    </div>
                                <% }else if(cap.type === 'link') {%>
                                    <div class="capture-container">
                                        <div class="the-capture">
                                            <div class="prof-cap-overlay">
                                                <span class="fa fa-link"></span>
                                            </div>    
                                        </div>
                                        <a href=""class="capture-date"><%= cap.date.slice(5, cap.date.length) %> </a>
                                    </div>
                                <% } %> 
                            <% }) %> 
                        </div>                 
                    <% } %>
                    <!-- check if person is owner -->
                    <% if(reel.creator == user.id) {%> 
                        <div class="reel-buttons">
                            <a href="/createcapture/<%= reel._id %>" class="capture-btn">add capture</a>
                            <a href="/reel/viewreel/<%= reel._id %>" class="capture-btn">view reel</a>
                        </div>
                    <% }else { %>
                        <div class="reel-buttons">
                            <a href="#" class="capture-btn"><span class="fa fa-heart"></span>like reel</a>
                            <a href="#" class="capture-btn">view reel</a>
                        </div>
                    <% } %> 
                </div> 
            </div>
        <% }) %> 
        <!---->
    </div>
</div>
<!-- <div id="profile">
  <div class="">
      <div class="">
          <div>
              <p><strong>User Name</strong>: <%# user.userName %></p>
              <p><strong>Email</strong>: <%# user.email %></p>
              <a href="/logout" class="">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form id="profile-form" action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <%# for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%# posts[i]._id%>">
              <img class="img-fluid" src="<%# posts[i].image%>">
            </a>
          </li>
        <%# } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div> -->
<%- include('partials/footer') -%>