<%- include('partials/profileheader') -%>
<%- include('partials/profilesettings') -%>
<div id="profile-container">
<div id="profile" class="inter-300">
    <div id="user-bio">
        <div id="user-name-container">
            <h1><%= user.userName %></h1>
            <a href="/feed">go to feed</a> 
        </div>
        <section id="profile-container-image">
            <img src="<%= user.profilePic %> " id="profile-pic">
            <div id="friend-count-container">
                <section id="friend-count">
                    <div>
                        <span id="following-count" class="count"><%= user.following.length %> </span>
                        <span>Following</span>
                    </div>
                    <div>
                        <span id="follower-count" class="count"><%= user.followers.length %></span>
                        <span>Followers</span>
                    </div>
                    <div>
                        <span id="reel-count" class="count"><%= reels.length %></span>
                        <span>Reels</span>
                    </div>
                </section>
                <% if(user.id == requestingUser.id) {%>
                    <a href="/u/<%= user.userName %>/editprofile" id="customize-profile" class="edit-profile">edit profile</a>
                <% }else if(!user.followers.includes(requestingUser.id)) {%>
                    <form action="/u/<%= user.userName %>/<%= user.id %>/<%= requestingUser.id %>/follow?_method=PUT" method="POST" class="follow-profile-form">
                        <button type="submit" class="follow-profile-button">Follow</button>
                    </form>
                <% }else{ %> 
                    <span class="following">following<span class="fa fa-check follow-icon"></span></span>
                <% } %> 
            </div>
        </section>
        <section id="p-userinfo-container">
            <h3 class="p-user-name"><%= user.name %></h3>
            <p id="bio-desc"><%= user.bio %></p>
            <% if(user.link) {%>
                <a id="external-links" href="<%= user.link %> "><%= user.link %> <span id="link-icon" class="fa fa-link"></span></a>
            <% } %> 
        </section>
        <div id="activ">
            <!-- <h2>Activities</h2> -->
            <!-- for each reel name, link to reel view -->
            <ul id="activ-list">
                <% reels.forEach((r) => { %>
                    <li><a href="/reel/viewreel/<%= r._id %>"><%= r.title %> </a></li> 
                <% }) %> 
            </ul>
        </div>
        <% if(user.id === requestingUser.id) {%>
            <div id="reel-btn-container">
                <span id="new-reel-btn" class="reel-edit-btn" onclick="showCreator()">create new reel</span>
                <span id="edit-reel-btn" class="reel-edit-btn" onclick="showDelete()">edit reels</span>
            </div>
        <% } %>
            
    </div>
    
    <div id="reel-form-container">
        <div class="reel-form-container-inner">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="close-creation" onclick="hideCreator()"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
            <!-- <span onclick="hideCreator()" class="fa fa-minimize close-creation"></span> -->
            <form id="reel-create-form" action="/reel/createreel" method="POST">
                <div class="reel-title">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="enter a reel title">
                </div>
                <div class="reel-caption">
                  <label for="caption" class="form-label">Description</label>
                  <textarea class="form-control" id="caption" name="caption" placeholder="enter a reel description"></textarea>
                </div>
                <button type="submit" class="reelcreate-submit" value="submit">create</button>
            </form>
        </div>
    </div>

    <div id="reels">
        <% if(reels.length < 1) {%>
            <div class="no-reels-alert">
                <p>No reels yet! Get started by </br><span class="create-reel-alert" onclick="showCreator()">creating a reel.</span></p>
            </div>
        <% } %> 
        <!-- for each reel -->
        <% for(let i = 0; i < reels.length; i++) {%> 
            <div class="reel">
                <div class="reel-info">
                    <div class="reel-name-container">
                        <a href="/reel/viewreel/<%= reels[i].id %>"><h2 class="reel-name"><%= reels[i].title %></h1></a>
                        <% if(reels[i].creator == user.id) {%>
                            <form action="/reel/deleteReel/<%= reels[i].id %>?_method=DELETE" method="POST" class="delete-reel hidden">
                                <button class="fa fa-trash reel-delete" type="submit"></button>
                            </form>
                        <% } %> 
                    </div>
                    
                    <!-- if not then dont render add capture button -->
                </div>
                <div class="reel-caption-container">
                    <p class="reel-caption"><%= reels[i].caption %></p>
                </div>
                <div class="cap-and-buttons">
                    <% if(reels[i].captures.length < 1) {%>
                        <div class="new-capture-alert">
                            <h3>Create a new capture for this reel</h3>
                        </div>
                    <% }else { %>
                        <div id="capture-<%= i %>" class="captures">
                            <!-- for each capture -->
                            <% reels[i].captures = reels[i].captures.reverse() %> 
                            <% reels[i].captures.forEach((cap) => { %> 
                                <!-- check whether capture is image, video or plain-text -->
                                <% if(cap.type === 'image') {%> 
                                    <div class="capture-container">
                                        <div class="the-capture">                                           
                                            <!-- <img src="<%# cap.imageLink %>" class="prof-cap-img"> -->
                                            <a href="/post/<%= cap._id %>"><div class="prof-cap-overlay">
                                                <span class="fa fa-image"></span>
                                            </div></a>                                           
                                        </div>
                                        <a href=""class="capture-date"><%= cap.date.slice(5, cap.date.length) %> </a>
                                    </div>
                                <% }else if(cap.type === 'text') {%>
                                    <div class="capture-container">
                                        <div class="the-capture">
                                            <a href="/post/<%= cap._id %>"><div class="prof-cap-overlay">
                                                <span class="fa fa-align-left"></span>
                                            </div></a>
                                        </div>
                                        <a href=""class="capture-date"><%= cap.date.slice(5, cap.date.length) %> </a>
                                    </div>
                                <% }else if(cap.type === 'link') {%>
                                    <div class="capture-container">
                                        <div class="the-capture">
                                            <a href="/post/<%= cap._id %>"><div class="prof-cap-overlay">
                                                <span class="fa fa-link"></span>
                                            </div></a>
                                        </div>
                                        <a href=""class="capture-date"><%= cap.date.slice(5, cap.date.length) %> </a>
                                    </div>
                                <% } %> 
                            <% }) %> 
                        </div>
                        <% if(reels[i].captures.length > 3) {%>
                            <div class="view-more-ct"><span id="vm-<%= i %>" class="view-more" onclick="wrapCaptures(this.id)">view more</span></div>                 
                        <% } %> 
                    <% } %>
                    <!-- check if person is owner -->
                    <% if(reels[i].creator == requestingUser.id) {%> 
                        <div class="reel-buttons">
                            <a href="/createcapture/<%= reels[i].id %>" class="capture-btn capture-btn-form">add capture</a>
                            <a href="/reel/viewreel/<%= reels[i].id %>" class="capture-btn">view reel</a>
                        </div>
                    <% }else { %>
                        <div class="reel-buttons">
                            <form action="/reel/likereel/<%= reels[i].id %>/<%= user.userName %>?_method=PUT" method="POST" class="capture-btn-form">
                                <button type="submit" class="capture-btn">like reel</button>
                            </form>
                            <a href="/reel/viewreel/<%= reels[i].id %>" class="capture-btn">view reel</a>
                        </div>
                    <% } %> 
                </div> 
                <div class="reel-count-info">
                    <div class="post-count">
                        <span class="count"><%= reels[i].captures.length %>  </span>
                        <span>Posts</span>
                    </div>
                    <div class="like-count">
                        <span class="count"><%= reels[i].likes.length %> </span>
                        <span>Likes</span>
                    </div>
                </div>
            </div>
        <% } %> 
        <!---->
    </div>
</div>
</div>
<%- include('partials/footer') -%>