<%- include('partials/reelheader') -%>
<%- include('partials/profilesettings') -%> 

<div class="viewreel-container inter-300">
    <section class="vreel-userinfo">
        <div class="vreel-user-container">
            <div id="vreel-user">
                <img class="mini-profile-pic" src="<%= user.profilePic %>">
                <h1><%= user.userName %></h1>
            </div>
            <a href="/u/<%= user.userName %>" class="view-return">profile</a>
        </div>
        <div class="dt-reelinfo">
            <div>
                <p class="vreel-caption"><%= reel.caption %> </p>
            </div>
            <div class="dt-more-user-stats inter-200">
                <h3 class="dt-user-stat">Followers: <span><%= user.followers.length %></span></h3>
                <h3 class="dt-user-stat">Reels: <span><%= allReels.length %></span></h3>
                <h3 class="dt-user-stat">Likes: <span><%= reel.likes.length %></span></h3>
            </div>
            <div class="reel-bubble-container">
                <% allReels.forEach((r) => { %>
                    <a href="/reel/viewreel/<%= r._id %>" class="reel-stat-bubble"><%= r.title %></a>
                <% }) %> 
            </div>
        </div>
        <% if(requser.id === user.id) {%>
            <section class="add-new-cap-container">
                <a href="/createcapture/<%= reel._id %>" id="add-new-cap">Add new capture</a>
            </section>
        <% } %> 
    </section>


    <!-- for each capture -->
    <section id="vreel-cap-sections">
        <% if(reel.captures.length > 0) {%>
            <% reel.captures.reverse().forEach((cap) => { %> 
                <% if(cap.type === 'image') {%>
                    <div class="cap-image cap">
                        <div class="cap-info">
                            <h2 class="cap-title"><%= cap.title %></h2>
                            <span class="date"><%= cap.date  %> </span>
                        </div>
                        <a href="/post/<%= cap._id %>"><img src="<%= cap.imageLink %>" class="cap-image-tag"></a>
                        <div class="cap-caption-container">
                            <p class="cap-caption"><span class="caption-username"><%= user.userName %></span>: <%= cap.caption %> </p>
                        </div>
                        <section class="post-settings-container">
                            <div id="postsettingsbox-0" class="post-settings-box hidden <%= requser.userName === cap.userName ? "vr-post-settings-box" : "postsetting-small" %>">
                                <% if(requser.userName == cap.userName) {%> 
                                    <span class="postsetting" onclick="editCapture()">
                                        <span>Edit Capture</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg>
                                    </span> 
                                    
                                    <form class="postsetting inter-400" action="/post/deletePost/<%= cap.reel %>/<%= cap._id %>/<%= cap.type %>?_method=DELETE" method="POST">
                                        <button type="submit"><span>Delete</span></button>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash-x" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 7h16" />
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                            <path d="M10 12l4 4m0 -4l-4 4" />
                                          </svg>
                                    </form>           
                                <% } %> 
                                
                                <a class="postsetting">
                                    <span>Share Capture</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                        <line x1="10" y1="14" x2="20" y2="4" />
                                        <polyline points="15 4 20 4 20 9" />
                                    </svg>
                                </a>
        
                                <a class="postsetting">
                                    <span>Report</span>
                                </a>
                                
                            </div>
                        </section>
                        <div class="feed-cap-btns">
                            <form action="/post/likePost/<%= cap.reel %>/<%= cap._id %>?_method=PUT" method="POST"
                                class="cap-like-form">
                                <button type="submit" class="cap-like-btn">
                                    <span class="likes-count">
                                        <%= cap.likes.length %>
                                    </span>
                                    <span class="fa fa-heart cap-like-svg"></span>
                                </button>
                            </form>
                            <a href="/post/<%= cap._id %>"><span class="post-comment-btn">view comments</span></a>
                            <span id="postsettingsview-0" class="post-settings" onclick="viewSettings(this.id)"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="48" height="48" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="5" cy="12" r="1" />
                                    <circle cx="12" cy="12" r="1" />
                                    <circle cx="19" cy="12" r="1" />
                                </svg>
                            </span>
                        </div>
                        <div class="cap-comments">
    
                        </div>
                    </div>
                <% }else if(cap.type === 'text') {%>
                    <div class="cap-text cap">
                        <div class="cap-info">
                            <h1 class="cap-title"><%= cap.title %></h1>
                            <span class="date"><%= cap.date  %> </span>
                        </div>
                        <div>
                            <a href="/post/<%= cap._id %>"><p class="cap-text-description"><%= cap.description %> </p></a>
                        </div>
                        <div class="cap-btns">
                            <form action="/post/likePost/<%= reel._id %>/<%= cap._id %>?_method=PUT" method="POST" class="cap-like-form">
                                <button type="submit" class="cap-like-btn">
                                    <span><%= cap.likes.length %></span>
                                    <span class="fa fa-heart cap-like-svg"></span>
                                </button>
                            </form>
                            
                            <svg class="cap-comments" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 32C114.6 32 .0272 125.1 .0272 240c0 47.63 19.91 91.25 52.91 126.2c-14.88 39.5-45.87 72.88-46.37 73.25c-6.625 7-8.375 17.25-4.625 26C5.818 474.2 14.38 480 24 480c61.5 0 109.1-25.75 139.1-46.25C191.1 442.8 223.3 448 256 448c141.4 0 255.1-93.13 255.1-208S397.4 32 256 32zM256.1 400c-26.75 0-53.12-4.125-78.38-12.12l-22.75-7.125l-19.5 13.75c-14.25 10.12-33.88 21.38-57.5 29c7.375-12.12 14.37-25.75 19.88-40.25l10.62-28l-20.62-21.87C69.82 314.1 48.07 282.2 48.07 240c0-88.25 93.25-160 208-160s208 71.75 208 160S370.8 400 256.1 400z"/></svg>
                            
                            <% if(requser.id == user.id) {%>
                                <form action="/post/deletePost/<%= reel.id %>/<%= cap._id %>/<%= cap.type %>?_method=PUT" method="POST">
                                    <button class="fa fa-trash cap-delete" type="submit"></button>
                                </form>
                            <% } %> 
                        </div>
                        <div class="cap-comments">
                            
                        </div>
    
                    </div>
                <% }else if(cap.type === 'link') {%>
                    <div class="cap-link cap">
                        <a href="<%= cap.extLink %>" class="cap-extLink-a"><div class="cap-extlink-container">
                            <div class="link-image-container">
                                <img src="<%= cap.extLinkInfo.img || cap.extLinkInfo.favicon %>" class="link-image">
                                <div class="shadow"></div>
                            </div>
                            <div class="linkinfo-container">
                                <span class="link-domain"><%= cap.extLinkInfo.domain %></span>
                                <h3 class="link-title"><%= cap.extLinkInfo.title %> </h3>
                                <p class="link-description"><%= cap.extLinkInfo.description%> </p>
                            </div>
                        </div></a>
                        <div class="cap-info">
                            <h1 class="cap-title"><%= cap.title %></h1>
                            <span class="date"><%= cap.date  %> </span>
                        </div>
                        <div class="cap-caption-container">
                            <p class="cap-caption"><span class="caption-username"><%= user.userName %></span>: <%= cap.caption %> </p>
                        </div>
                        <div class="cap-btns">
                            <form action="/post/likePost/<%= reel._id %>/<%= cap._id %>?_method=PUT" method="POST" class="cap-like-form">
                                <button type="submit" class="cap-like-btn">
                                    <span><%= cap.likes.length %></span>
                                    <span class="fa fa-heart cap-like-svg"></span>
                                </button>
                            </form>
                            
                            <svg class="cap-comments" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 32C114.6 32 .0272 125.1 .0272 240c0 47.63 19.91 91.25 52.91 126.2c-14.88 39.5-45.87 72.88-46.37 73.25c-6.625 7-8.375 17.25-4.625 26C5.818 474.2 14.38 480 24 480c61.5 0 109.1-25.75 139.1-46.25C191.1 442.8 223.3 448 256 448c141.4 0 255.1-93.13 255.1-208S397.4 32 256 32zM256.1 400c-26.75 0-53.12-4.125-78.38-12.12l-22.75-7.125l-19.5 13.75c-14.25 10.12-33.88 21.38-57.5 29c7.375-12.12 14.37-25.75 19.88-40.25l10.62-28l-20.62-21.87C69.82 314.1 48.07 282.2 48.07 240c0-88.25 93.25-160 208-160s208 71.75 208 160S370.8 400 256.1 400z"/></svg>
                            
                            <% if(requser.id == user.id) {%>
                                <form action="/post/deletePost/<%= reel.id %>/<%= cap._id %>/<%= cap.type %>?_method=PUT" method="POST">
                                    <button class="fa fa-trash cap-delete" type="submit"></button>
                                </form>
                            <% } %> 
                            <!-- <svg class="cap-settings" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M120 256c0 30.9-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56zm160 0c0 30.9-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56zm104 56c-30.9 0-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56s-25.1 56-56 56z"/></svg> -->
                        </div>
                        <div class="cap-comments">
                            
                        </div>
                    </div>
                <% } %> 
            <% }) %> 
        <% }else if(requser.id == user.id){ %>
            <div id="no-captures-alert">
                <p>No Captures in here! Get started by </br><a href="/createcapture/<%= reel.id %>" class="create-capture-alert">creating a capture</a></p>
            </div>
        <% }else{ %>
            <div id="no-captures-alert">
                <p>No Captures in here :(</p>
            </div>
        <% } %> 
        
    </section>
</div>

<%- include('partials/footer') %> 