<%- include('partials/header') -%>
<%- include('partials/profilesettings') -%> 

<div class="viewreel-container inter-300">
    <section class="vreel-userinfo">
        <div class="vreel-user-container">
            <div id="vreel-user">
                <img class="mini-profile-pic" src="<%= user.profilePic %>">
                <h1><%= user.userName %></h1>
            </div>
            <a href="/u/<%= user.userName %>" class="view-return">profile</a>
        </div>
        <div class="dt-reelinfo">
            <div>
                <p class="vreel-caption"><%= reel.caption %> </p>
            </div>
            <div class="dt-more-user-stats inter-200">
                <h3 class="dt-user-stat">Followers: <span><%= user.followers.length %></span></h3>
                <h3 class="dt-user-stat">Reels: <span><%= allReels.length %></span></h3>
                <h3 class="dt-user-stat">Likes: <span><%= reel.likes.length %></span></h3>
            </div>
            <div class="reel-bubble-container">
                <% allReels.forEach((r) => { %>
                    <a href="/reel/viewreel/<%= r._id %>" class="reel-stat-bubble"><%= r.title %></a>
                <% }) %> 
            </div>
        </div>
        <% if(requser.id === user.id) {%>
            <section class="add-new-cap-container">
                <a href="/post/createcapture/<%= reel._id %>" id="add-new-cap">Add new capture</a>
            </section>
        <% } %> 
    </section>

    <!-- for each capture -->
    <section id="vreel-cap-sections">
        <section class="reel-info-container">
            <section class="post-reel-info-container vreel-info-container inter-400">
                <a href="/reel/viewreel/<%= reel._id %>"><h2 class="pri-title"><%= reel.title %></h2></a>
                <p class="pri-caption"><%= reel.caption %></p>
            </section>
        </section>
        <% if(reel.captures.length > 0) {%>
            <% reel.captures.reverse().forEach((cap, idx) => { %> 
                <% if(cap.type === 'image') {%> 
                    <div class="cap-image cap">
                        <div class="cap-info">
                            <h2 class="cap-title"><%= cap.title %></h2>
                            <span class="date"><%= cap.date  %> </span>
                        </div>
                        <a href="/post/<%= cap._id %>"><img src="<%= cap.imageLink %>" class="cap-image-tag"></a>
                        <div class="cap-caption-container">
                            <p class="cap-caption"><span class="caption-username"><%= user.userName %></span>: <%= cap.caption %> </p>
                        </div>
                        <section class="post-settings-container">
                            <div id="postsettingsbox-<%= idx %>" class="post-settings-box hidden <%= requser.userName === cap.userName ? "vr-post-settings-box" : "postsetting-small" %>">
                                <% if(requser.userName == cap.userName) {%> 
                                    <a class="postsetting" href="/post/<%= cap._id %>/<%= requser._id %>/editpost">
                                        <span>Edit Capture</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg>
                                    </a>                
                                <% } %> 
                                
                                <a class="postsetting">
                                    <span>Share Capture</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                        <line x1="10" y1="14" x2="20" y2="4" />
                                        <polyline points="15 4 20 4 20 9" />
                                    </svg>
                                </a>
        
                                <!-- <a class="postsetting">
                                    <span>Report</span>
                                </a> -->
                                
                            </div>
                        </section>
                        <div class="feed-cap-btns">
                            <form action="/post/likePost/<%= cap.reel %>/<%= cap._id %>?_method=PUT" method="POST"
                                class="cap-like-form">
                                <button type="submit" class="cap-like-btn">
                                    <span class="likes-count">
                                        <%= cap.likes.length %>
                                    </span>
                                    <span class="fa fa-heart cap-like-svg"></span>
                                </button>
                            </form>
                            <a href="/post/<%= cap._id %>"><span class="post-comment-btn">view comments</span></a>
                            <span id="postsettingsview-<%= idx %>" class="post-settings" onclick="viewSettings(this.id)"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="48" height="48" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="5" cy="12" r="1" />
                                    <circle cx="12" cy="12" r="1" />
                                    <circle cx="19" cy="12" r="1" />
                                </svg>
                            </span>
                        </div>
                        <div class="cap-comments">
    
                        </div>
                    </div>
                <% }else if(cap.type === 'text') {%>
                    <div class="cap-text cap">
                        <div class="cap-info">
                            <h1 class="cap-title"><%= cap.title %></h1>
                            <span class="date"><%= cap.date  %> </span>
                        </div>
                        <div>
                            <a href="/post/<%= cap._id %>"><p class="cap-text-description"><%= cap.description %> </p></a>
                        </div>
                        <section class="post-settings-container">
                            <div id="postsettingsbox-<%= idx %>" class="post-settings-box hidden <%= requser.userName === cap.userName ? "vr-post-settings-box" : "postsetting-small" %>">
                                <% if(requser.userName == cap.userName) {%> 
                                    <a class="postsetting" href="/post/<%= cap._id %>/<%= requser._id %>/editpost">
                                        <span>Edit Capture</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg>
                                    </a>          
                                <% } %> 
                                
                                <a class="postsetting">
                                    <span>Share Capture</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                        <line x1="10" y1="14" x2="20" y2="4" />
                                        <polyline points="15 4 20 4 20 9" />
                                    </svg>
                                </a>
        
                                <!-- <a class="postsetting">
                                    <span>Report</span>
                                </a> -->
                                
                            </div>
                        </section>
                        <div class="feed-cap-btns">
                            <form action="/post/likePost/<%= cap.reel %>/<%= cap._id %>?_method=PUT" method="POST"
                                class="cap-like-form">
                                <button type="submit" class="cap-like-btn">
                                    <span class="likes-count">
                                        <%= cap.likes.length %>
                                    </span>
                                    <span class="fa fa-heart cap-like-svg"></span>
                                </button>
                            </form>
                            <a href="/post/<%= cap._id %>"><span class="post-comment-btn">view comments</span></a>
                            <span id="postsettingsview-<%= idx %>" class="post-settings" onclick="viewSettings(this.id)"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="48" height="48" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="5" cy="12" r="1" />
                                    <circle cx="12" cy="12" r="1" />
                                    <circle cx="19" cy="12" r="1" />
                                </svg>
                            </span>
                        </div>
                        <div class="cap-comments">
                            
                        </div>
    
                    </div>
                <% }else if(cap.type === 'link') {%>
                    <div class="cap-link cap">
                        <a href="<%= cap.extLink %>" class="cap-extLink-a"><div class="cap-extlink-container">
                            <div class="link-image-container">
                                <img src="<%= cap.extLinkInfo.img || cap.extLinkInfo.favicon %>" class="link-image">
                                <div class="shadow"></div>
                            </div>
                            <div class="linkinfo-container">
                                <span class="link-domain"><%= cap.extLinkInfo.domain %></span>
                                <h3 class="link-title"><%= cap.extLinkInfo.title %> </h3>
                                <p class="link-description"><%= cap.extLinkInfo.description%> </p>
                            </div>
                        </div></a>
                        <div class="cap-info">
                            <h1 class="cap-title"><%= cap.title %></h1>
                            <span class="date"><%= cap.date  %> </span>
                        </div>
                        <div class="cap-caption-container">
                            <p class="cap-caption"><span class="caption-username"><%= user.userName %></span>: <%= cap.caption %> </p>
                        </div>
                        <section class="post-settings-container">
                            <div id="postsettingsbox-<%= idx %>" class="post-settings-box hidden <%= requser.userName === cap.userName ? "vr-post-settings-box" : "postsetting-small" %>">
                                <% if(requser.userName == cap.userName) {%> 
                                    <a class="postsetting" href="/post/<%= cap._id %>/<%= requser._id %>/editpost">
                                        <span>Edit Capture</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg>
                                    </a>    
                                <% } %> 
                                
                                <a class="postsetting">
                                    <span>Share Capture</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="32" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#22242c" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
                                        <line x1="10" y1="14" x2="20" y2="4" />
                                        <polyline points="15 4 20 4 20 9" />
                                    </svg>
                                </a>
        
                                <!-- <a class="postsetting">
                                    <span>Report</span>
                                </a> -->
                                
                            </div>
                        </section>
                        <div class="feed-cap-btns">
                            <form action="/post/likePost/<%= cap.reel %>/<%= cap._id %>?_method=PUT" method="POST"
                                class="cap-like-form">
                                <button type="submit" class="cap-like-btn">
                                    <span class="likes-count">
                                        <%= cap.likes.length %>
                                    </span>
                                    <span class="fa fa-heart cap-like-svg"></span>
                                </button>
                            </form>
                            <a href="/post/<%= cap._id %>"><span class="post-comment-btn">view comments</span></a>
                            <span id="postsettingsview-<%= idx %>" class="post-settings" onclick="viewSettings(this.id)"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots" width="48" height="48" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ebebeb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="5" cy="12" r="1" />
                                    <circle cx="12" cy="12" r="1" />
                                    <circle cx="19" cy="12" r="1" />
                                </svg>
                            </span>
                        </div>
                        <div class="cap-comments">
                            
                        </div>
                    </div>
                <% } %> 
            <% }) %> 
        <% }else if(requser.id == user.id){ %>
            <div id="no-captures-alert">
                <p>No Captures in here! Get started by </br><a href="/createcapture/<%= reel.id %>" class="create-capture-alert">creating a capture</a></p>
            </div>
        <% }else{ %>
            <div id="no-captures-alert">
                <p>No Captures in here :(</p>
            </div>
        <% } %> 
        
    </section>
</div>

<%- include('partials/footer') %> 